.imageViewer {
  display: flex;
  position: "relative";
}

.productImageWrapper {
  align-items: center;
  aspect-ratio: 4 / 3;
  display: flex;
  justify-content: center;
  padding: 12px;
}
.productImage {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}