.imageViewer {
  display: flex;
}


.productImageWrapper {
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 4 / 3;
}
.productImage {
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
}

/* @media only screen and (max-width: 900px) {
  .imageViewer {
    display: flex;
    justify-content: center;
  }
} */
